/* variables */
:root {
    --text-clr-900: hsl(238, 29%, 16%);
    --text-accent: hsl(14, 88%, 65%);
    --text-neutral-800: hsl(237, 12%, 33%);
    --text-neutral-700: hsl(240, 6%, 50%);

    --clr-neutral: hsl(240, 5%, 91%);

    --clr-gradient-top: hsl(273, 75%, 66%);
    --clr-gradient-bottom: hsl(240, 73%, 65%);

}

/* global classes */

body * {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(var(--clr-gradient-top), var(--clr-gradient-bottom));
    
}

/* auxiliary classes */

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: white;
border-radius: 1.5rem;
   margin: 9rem auto;
   
    width: min(90%, 58rem);

    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}


.content {
    display: flex;
    flex-direction: column;
    
    padding-top: 2rem;
    flex-basis: 100%;
    width: 88%;

    
    
}
/* modifier to hide faq text */
.hidden {
    display: none;
}
/* ---------------- */
.image-mobile {
    
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    
    height: 7rem;
    width: 100%;
}

.mobile {
    position: absolute;
    top: -7rem;
    transform: translateX(-1rem);
    display: inline-block;
    
    
    

    
}

.image-desktop {
    display: none;
    
}



.icon {
    float: right;
}

/* other classes */

.heading {
    text-align: center;
    padding-bottom: 1.2rem;
}


.faqs {
    width: 100%;
    list-style-type: none; 
}


.faq {
    border-bottom: 1px solid var(--clr-neutral);
    padding: 1.12rem 0;
}

.faq:last-of-type{
    border-bottom: 1px solid var(--clr-neutral);
    margin-bottom: 3rem;
}

.faq-title {
    font-size: .8rem;
    font-weight: 400;
    color: var(--text-neutral-800);  
}

.faq-title:hover {
    
    color: var(--text-accent);
    cursor: pointer;

}

.faq-title:focus, .faq-title:active {
    color: var(--text-clr-900);
    cursor: pointer;

}
/* modifiers for selected faq title and icon */
.selected {
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-clr-900);
    
}

.selected:hover {
    color: var(--text-clr-900);
    cursor: pointer;

}

.selected:focus, .selected:active {
    color: var(--text-clr-900);
    cursor: pointer;

}

.selected .icon {
    transform: rotate(180deg);
}
/* ------------ */
.faq-text {
    font-size: .7rem;
    font-weight: 400;
    padding-top: 1rem;
    color: var(--text-neutral-700);
    line-height: 1rem;
    
}

/* media queries */
@media (min-width: 50rem) {
    .split {
        flex-direction: row;
        margin: 8rem auto;
   
        
    }

    .content {
        padding: 4.5rem 1.5rem;
        height: 32rem;
    }

    .image-desktop {
    
        flex-basis: 100%;
        height: 32rem;
        display: flex;
        align-items: center;
        
        
        background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: -5.75rem 4.25rem, -36.5rem -18rem;

        position: relative;
    }

    .cube {
        position: absolute;
        display: inline-block;
        
        left: -6rem;
        top: 13rem;
        
    }

    .image-mobile {
        display: none;
    }

    .heading {
        text-align: left;
    }

    .faqs {
        width: 78%;
    }

    .faq-title {
        font-size: .9rem;
    }
}
